<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h2 class="card-title text-center">LOGIN PAGE</h2>
          <br />
          <form [formGroup]="userForm">
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input
                class="form-control"
                formControlName="email"
                placeholder="Email"
                required
                autofocus
                [class.is-invalid] = "userForm.get('email').invalid && userForm.get('email').touched"
              />
              <small class="text-danger" [class.d-none]= "!(userForm.get('email').invalid && userForm.get('email').touched)">
                 Invalid Email....
              </small>
            </div>
            <br />
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName= "password"
                placeholder="Password"
                required
                [class.is-invalid] = "(userForm.get('password').invalid && userForm.get('password').touched)"
              />
            </div>
            <small class="text-danger" [class.d-none]= "!(userForm.get('password').invalid && userForm.get('password'))">
                Invalid password....
             </small>
            <br />
            <div class="form-group">
                <label for="housenumber">House Number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName= "houseNumber"
                  required
                />
              </div>
              <br />
              <div class="form-group">
                <label>city</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName= "city"
                  required
                />
              </div>
              <br />
            <div class="custom-control custom-checkbox mb-3">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck1"
              />
              <label class="custom-control-label" for="customCheck1"
                >Remember password</label
              >
            </div>
            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
            >
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
